[2017-06-29 09:37] vmarkovtsev opened #5 "ensure_docker_is_running() fails on macOS"
https://gist.github.com/marnovo/c88ae219e7a8787bd6a09d2396af6c5d

[2017-07-12 10:52] vmarkovtsev commented on #5
Fixed by

* https://github.com/bblfsh/client-python/pull/11
* https://github.com/bblfsh/client-python/pull/12

cc/ @marnovo

[2017-07-12 10:52] #5 closed

[2017-07-12 15:53] marnovo commented on #5
Merci!

[2017-07-13 15:15] juanjux opened #14 "The testing need to mock the server or get the latest commit image."
Currently the tests get the `latest` server image, that points to the last versioned tag. This means that changes in the SDK or server can't be properly tested in the client-python until a new tag is released.

[2017-07-26 10:06] juanjux opened #18 "Explicitly add expression and statement roles to nodes that are also either"
Like https://github.com/bblfsh/java-driver/pull/33

[2017-07-27 16:19] juanjux commented on #18
Wrong project, it's fixed anyway by Python driver PR #48

[2017-07-27 16:19] #18 closed

[2017-08-10 14:42] juanjux opened #21 "Numeric role with a specific snippet"
With newlines included:

[code]

This produce two instances of role `141` but only with the client-python, it works on the integration tests and other ways to produce the UAST, so probably the bug is in this project.

[2017-08-10 15:25] juanjux commented on #21
The .proto files of the client-python were outdated. Will be fixed soon.

[2017-08-11 06:40] juanjux commented on #21
The main problem is fixed by updating the protobuf files but the unittests are failing because of some position problems with the static method argument that must be fixed in pydetector.

[2017-08-11 14:02] #21 closed

[2017-08-11 14:09] juanjux commented on #21
Should be fixed in v0.0.5, thanks for the report!

[2017-09-07 17:33] zurk opened #24 "Installation problems v0.1.0"
When I try to follow installation notes in [README](https://github.com/bblfsh/client-python/blob/master/README.md) I failed.

`pip3 install bblfsh` leads to the error:
[code]

and
[code]
leads to the next error:
[code]

I was able to install it using
[code]

[2017-09-08 07:29] juanjux commented on #24
I can reproduce it with the system's pip, but curiously it works with pyenv. I'll take a look.

[2017-09-08 07:42] eiso opened #25 "Adding filter examples to the README"
@juanjux thank you for the work on https://github.com/bblfsh/client-python/pull/23

Just opening an issue so that we add filter function (libuast) examples to the README because right now people will only discover it if they read the tests.

[2017-09-08 07:47] juanjux commented on #25
Yes, I just wanted to get @manucorporat PR updated and fixed ASAP so we could work from that, I'll update the README  as soon as I fix https://github.com/bblfsh/client-python/issues/24

[2017-09-08 08:12] juanjux commented on #24
Looks like the version packaged in pypy removes some files (DCO, LICENSE, MAINTAINERS, requirements.txt and Makefile, the last one is the one that produces the failure). But the release `.tar.gz` on github is fine.

I'll investigate the cause of this difference.

[2017-09-08 08:54] abeaumont commented on #25
This is related to https://github.com/bblfsh/libuast/issues/20, `xpath` examples should be shared among the library and all the clients.

[2017-09-08 08:58] juanjux commented on #25
@abeaumont definitely, just a couple commands in this project README showing what API to call and then it should link to that page see better examples of queries.

[2017-09-08 09:12] eiso commented on #25
Agreed with @juanjux. It's just so that someone who lands on the repo can see how to use it and what function to call for it.

@mcuadros there should also probably be how to launch the server with the link to the documentation here, like you did for https://github.com/bblfsh/dashboard

[2017-09-08 10:06] juanjux commented on #24
Fixed by #26.

[2017-09-08 10:15] zurk opened #27 "`pip install -U bblfsh` does not work for Python 2"
I get next output when run `pip install -U bblfsh`:
https://gist.github.com/zurk/c327a3923529aab58a246ef23deb148a

[2017-09-08 10:16] juanjux commented on #27
Yes, looks like the CPython extension module doesn't compile with Python 2.7, I'll take a look.

[2017-09-08 10:16] zurk commented on #24
Yes, It works for Python 3, thank you!
I think you can close it.
But I find another problem for Python 2 https://github.com/bblfsh/client-python/issues/27.

[2017-09-08 10:32] zurk commented on #24
Oh, It works on mac, but still some problems on Ubuntu.
https://gist.github.com/zurk/323f1bb73e4bbf5c981bf17d08e187c9

[2017-09-08 10:36] juanjux commented on #24
The header files for libxml2 (libxml2-dev in Ubuntu) need to be installed, I'll update the README.

[2017-09-08 11:23] juanjux commented on #27
I've a version of the extension module that should work with both Python versions but noticed that the Python base code wasn't compatible with Python 2.7 anyway, so I'll keep it "Python 3 only" and we'll discuss if we want Python 2 compatibility later.

[2017-09-08 11:23] #27 closed

[2017-09-08 12:31] juanjux opened #28 "Makefile: Download versioned protofiles"
Currently the `sdk/generated.proto` and `uast/generated.proto` files are included in the repository. To correctly support SDK versioning, it should download them from gopkg.in redirect URL.

[2017-09-08 14:02] zurk opened #29 "Does bblfsh.filter should return list (instead of iterator)?"
It is a suggestion of enhancement.
Sometimes I don't need a full list, and it is a more pythonic way to have an iterator instead of the list.

To discuss.

[2017-09-08 14:04] abeaumont commented on #29
I think it's a good idea and should be easy to implement.

[2017-09-09 16:38] juanjux commented on #29
Agree.

[2017-09-09 16:47] juanjux commented on #25
Fixed by #26

[2017-09-09 17:16] #24 closed

[2017-09-09 17:16] #25 closed

[2017-09-21 11:03] zurk opened #34 "[feature request] easy import of DESCRIPTOR, Node"
Since it is hard to get DESCRIPTOR and Node modules, can we add it to bblfsh directly?
I suggest adding to `__main__.py` something like this:
[code]

Then everyone can just do `from bblfsh import Node, DESCRIPTOR`.

Can make a PR if you approve.

[2017-09-21 11:09] zurk commented on #34
We have it as ast2vec part: https://github.com/src-d/ast2vec/blob/master/ast2vec/bblfsh_roles.py but I think it is more bblfsh related things.

[2017-09-21 11:12] zurk opened #35 "[feature request] new roles submodule with role_id and role_names functions."
I suggest adding a new `roles` module with roles info and add at least two functions:
[code]

Also, It is good to have something like constants with Roles id.
No need to go to documentation to check which roles we have or if you try to remember name (and you have tips from IDE :) ).

We have such constants in ast2vec:
https://github.com/src-d/ast2vec/blob/master/ast2vec/bblfsh_roles.py#L18

Can ma

[2017-09-21 16:43] juanjux commented on #34
Yes, that's ugly as Black Death, the __init__.py file should import all those.

[2017-09-22 09:09] zurk commented on #34
@juanjux btw, can we just somehow avoid `in` in the directory path? It also solves this problem.

[2017-09-22 09:50] juanjux commented on #34
I tried several alternatives, using symlinks, renaming the in to in_ in the protofiles... this one is the one that causes less pain and should not matter much if we import everything from \_\_init\_\_.py.

[2017-09-22 11:03] juanjux opened #36 "Remove the `Makefile`, make `setup.py` retrieve the `.pb` files from release"
Doesn't make sense to have a `Makefile` when we have a `setup.py` file, also, we could remove the .pb files that were added to avoid a dependency on `protoc` from the `pip` package.

- [ ] Move the functionality of the `Makefile` to the `setup.py`.
- [ ] A `--release` switch should be added to `setup.py` to generate the `.pb` files.
- [ ] The travis build should install `protoc` and call `--releas

[2017-09-29 12:50] zurk opened #39 "bblfsh.filter(uast, "//*[@roleAssignment]") does not work."
if you extract UAST for `a=None` and run this command:
[code]
you will get empty list.
Also for `"//*[@roleNull]"` queury.

P.S. UAST structure:
[code]

[2017-10-16 09:23] juanjux commented on #39
Both queries work for me with the latest version, both in command line and using the API, probably was fixed in one of the previous bug hunts.

[2017-10-16 09:23] #39 closed

[2017-10-18 14:29] abeaumont commented on #28
Duplicated of #36

[2017-10-18 14:29] #28 closed

[2017-10-18 14:38] abeaumont commented on #14
The server could be launched independently as it's done now with the drivers.

[2017-10-25 07:48] juanjux commented on #29
Fixed by #46.

[2017-10-25 07:48] #29 closed

[2017-10-27 10:18] warenlg opened #48 "Error trying to update python client on Ubuntu 17.04"
bblfsh/pyuast.c: At top level:
    bblfsh/pyuast.c:179:27: error: storage size of ‘module_def’ isn’t known
     static struct PyModuleDef module_def = {

[2017-10-27 10:41] warenlg commented on #48
It broke because I was upgrading bblfsh with Python2, it works with pip3

[2017-10-27 10:41] #48 closed

[2017-10-27 15:39] vmarkovtsev opened #50 "Add Version() to BblfshClient"
The recent bblfsh release adds Version() API. Support it here?

[2017-11-02 12:51] #36 closed

[2017-11-02 14:29] abeaumont commented on #50
`NativeParse` should also be supported.

[2017-11-02 17:16] #50 closed

[2017-11-08 10:25] abeaumont commented on #14
Decided to leave as it is.

[2017-11-08 10:25] #14 closed

[2017-11-13 14:52] #34 closed

[2017-11-13 14:52] #35 closed

[2017-11-13 14:53] juanjux commented on #34
Implemented in 2.6.0.

[2017-11-24 07:36] vmarkovtsev commented on #50
@zurk Since the support has landed, we urgently need to add the check into current ml's master.

[2017-11-24 10:09] vmarkovtsev opened #60 "SIGSEGV on filtering //@roleLiteral"
I am using the most recent bblfsh client, exec the following code:

[code]

I get SIGSEGV. `gdb bt`:

[code]

Code:

[code]

[code]

py-bt
[code]

[2017-11-24 10:54] juanjux commented on #60
I can reproduce it. Looks like UastFilter is returning a list of NULL nodes.

[2017-11-24 11:32] zurk opened #61 "UnicodeDecodeError in client.parse()"
I try to run bblfsh from python for this file: https://github.com/INRIA/spoon/blob/master/src/test/resources/noclasspath/IsoEncoding.java
As you can see it is the file with non-standard characters.

If I run
[code]
I get
[code]

Is it expected behavior for non-unicode files?
If so I think it is better to provide better error message from bblfsh client.

[2017-11-24 11:40] juanjux commented on #61
Yeah, it's a protobuf error:

`...has type bytes, but isn't valid UTF-8 encoding. Non-UTF-8 strings must be converted to unicode objects before being added.`

Do you propose to ping-pong the exception with a more specific error message?

[2017-11-24 11:46] juanjux commented on #60
...and that is being produced by libxml2. Maybe we're skipping on an error or something?

Anyway, as a workaround, this seem to work:

`//*[@roleLiteral]`

[2017-11-24 12:01] vmarkovtsev commented on #60
Thanks for this workaround!

[2017-11-24 12:27] zurk commented on #61
yes, It will be great!
Something that file should be in UTF-8 encoding for example.

[2017-11-24 13:24] vmarkovtsev commented on #60
@juanjux `//[@roleLiteral]` raises `RuntimeError: Invalid expression` for me.

[2017-11-24 13:38] vmarkovtsev commented on #60
Oh, I see, I missed *

[2017-11-29 10:42] abeaumont opened #62 "Add support for iterators"

[2017-12-05 15:32] #60 closed

[2017-12-12 12:16] #61 closed

[2017-12-12 12:17] juanjux commented on #61
After #65, non UTF8 (with includes ASCII and Base64) content should be rejected by the client. Tell us if this works for you.

[2017-12-12 17:43] zurk commented on #61
yes, It works for me.

[2017-12-22 13:31] #62 closed

[2017-12-29 19:19] vmarkovtsev opened #68 "import bblfsh fails on 2.8.0"
I installed the most recent version 2.8 and I get:

[code]

[2018-01-02 18:31] abeaumont commented on #68
I cannot reproduce it:

[code]

Looking at errors, it looks like you may be getting incorrect protobuf files... could you maybe try a fresh install to discard conflicts with previous installation issues?

[2018-01-02 19:09] vmarkovtsev commented on #68
I did `pip uninstall` before installing a new version. What information do you need on my side to debug?

[2018-01-03 13:55] abeaumont commented on #68
Hard to say, since it seems a protobuf related issue, but the generated python code is generated by your own protobuf compiler, which apparently is using some features that are not supported by that same protobuf...
The autogenerated code in my side seems to be the same, so may be some issue with python and/or protobuf versions?

[2018-01-08 16:54] Zir0-93 opened #70 "'pip install bblfsh' fails on RHEL 7.4"
I ran ```pip install bblfsh``` on RHEL 7.4 and I get:
[code]
  Additionally, the libxml2-dev package is installed on the system.

[2018-01-08 16:57] juanjux commented on #70
You need to install the libxml2 development package.

[2018-01-08 16:57] #70 closed

[2018-01-16 14:20] vmarkovtsev commented on #68
[code]
Needs to investigate this.

[2018-01-16 14:25] vmarkovtsev commented on #68
Indeed, protobuf 3.4.0 or later is required.

[2018-01-16 14:54] #68 closed

[2018-02-13 08:48] juanjux opened #76 "Add support for type filter functions."
Allow for using XPath functions with return values different from nodeslists. Already supported in libuast. Need support in the clients.

[2018-02-21 16:02] #76 closed

[2018-03-02 10:34] zurk opened #78 "bblfsh client-python failed to install on mac since grpcio new release 1.10"
the release was today: https://github.com/grpc/grpc/releases/tag/v1.10.0
issue: https://github.com/grpc/grpc/issues/14573

run:
[code]

you will get an error from grpcio installation:
[code]

full log file:
[grpcio.logs.zip](https://github.com/bblfsh/client-python/files/1774650/grpcio.logs.zip)

I can suggest fixing grpcio package version. I am also fine with any other solution, let's discuss.

[2018-03-02 11:07] juanjux commented on #78
Just did a PR (linked above) to fix the version to 1.9.1 (1.10.0 works on my Ubuntu, tough).

[2018-03-02 13:44] #78 closed

[2018-03-02 13:58] juanjux commented on #78
@zurk package 2.9.1 with the fixed dependency to the previous version is in pypi.

[2018-03-02 17:25] mehrdada commented on #78
gRPC 1.10 macOS wheels were not generated by our build infra for some reason and were missing. They are uploaded now. Should no longer need to pin the version.

[2018-03-02 17:32] juanjux commented on #78
@mehrdada thanks, I'll pin version 1.10 soon then.

[2018-03-06 15:33] juanjux opened #80 "Support libast v1.9.0 node position iterator"

[2018-03-07 17:16] juanjux opened #82 "SIGSEV while iterating over a certain file"
With this file:

https://gist.github.com/juanjux/5d7f8b736fde2bbc8635c5f4f689b573

It crashes while trying to iterate over it:

[code]

It crashes on the first call to the iterator's `next()`. The uast object can be accessed and printed without problems.

[2018-03-08 10:50] EgorBu opened #83 "Empty response from client when file extension is wrong"
Hi,
I found that client returns the empty response without any warnings/errors when code with the wrong extension is sent to a client.
Code to reproduce:
[code]
Sample is attached
[java_code.py.zip](https://github.com/bblfsh/client-python/files/1792841/java_code.py.zip)

[2018-03-08 10:55] EgorBu commented on #83
[code]

shows an error log

[2018-03-08 10:55] #83 closed

[2018-03-08 12:16] #82 closed

[2018-03-09 07:11] vmarkovtsev opened #86 "Package install fails with "fatal error: memtracker.h: No such file or directory""
E.g. https://travis-ci.org/src-d/ml/jobs/351095320#L2754

[2018-03-09 07:51] juanjux commented on #86
Looks like `.h` files must be added to the MANIFEST file or Pypi doesn't load them. Should be fixed now in 2.9.4, sorry.

[2018-03-09 07:51] #86 closed

[2018-03-09 08:33] vmarkovtsev commented on #86
Thanks for the quick fix!

[2018-03-27 09:55] zurk opened #89 "ERROR:root:Exception deserializing message!"
How to reproduce:
[code]
in python:
[code]

And you will get:
[code]
versions:
* python-client: 2.9.6
* bblfsh container:
[code]
* javascript driver:
[code]

I am not sure is it relatet to client-python or to javascript driver...

[2018-03-27 11:01] juanjux commented on #89
Looks like a problem with the javascript driver returning a broken response, I'll confirm in a couple minutes.

[2018-03-27 11:27] juanjux commented on #89
After some tests, looks like it could be a problem with the Python client, as reported. I've run this without bblfshd (to discard problems with it), just with the javascript driver and it works with the go client but not with the python one.

So the problem must be in the Python client, but it looks like it fails before it arrives to any of our code, just in the gRPC handling. I'll try to go back

[2018-03-27 11:34] zurk commented on #89
yeah, I also find some other files in different languages where python client fails. So, seems to be driver unrelated problem.

[2018-03-28 08:20] smola commented on #89
I'm experiencing the same bug with [this file](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/e73dab44213ffa76b3d6a853aecb109929c3e2b5/gen/com/goide/GoTypes.java) (Java). Other files work correctly. The problem seems to be only with deserialization from Python.

bblfsh 2.9.6 in Python here too.

[2018-03-28 09:19] smola commented on #89
I found this problem for the first time while using src-d/ml on the PGA dataset. In that case, the exception was raised when deserializing a node with `Node.FromString`, because in that case, we first load the raw protobuf from bblfsh, and we parse it at a later stage.

Here's a gist with an example Java file that exhibits this bug, as well as the raw proto message that we got and cannot deseriali

[2018-03-28 09:58] #80 closed

[2018-03-28 09:58] juanjux commented on #89
Thanks @smola, I'll take a second look at this with the new data.

[2018-03-28 15:28] juanjux commented on #89
Still not conclusive, but I'm almost sure is a Python grpc problem.

I've created another gist:

https://gist.github.com/juanjux/396fe25f9bc7d1c3fec8a8d4c47bcb28

As you can see, the java file is much reduced. Any change on it (removing the outer class, removing one of the `else if` or changing the `return` value) will make it work.

I've attached to that gist the proto file that crashes and one t

[2018-03-28 16:18] juanjux commented on #89
https://github.com/grpc/grpc/issues/14847

[2018-03-30 16:27] pcyin opened #91 "Convert a UAST into Python AST"
Hi. I am new to bblfsh and was wondering if I could convert a UAST into Python's AST structure defined by the `ast` module. Thanks!

[2018-03-30 19:11] dennwc commented on #91
Hi @pcyin. The short answer: it's not possible at the moment.

Can you share more information about your use case?

It looks like you are parsing Python sources (since you want python AST at the end) from Python (since you are using this client). If it's the only use case, it will be easier for you to use Python parser itself, without Babelfish server.

On the other hand, if you want to convert an

[2018-03-30 19:38] juanjux commented on #91
If the problem is getting the Python AST you can use ParseNative instead of parse.

[2018-03-30 19:42] dennwc commented on #91
@juanjux But it will not be directly compatible with Python's `ast` module in this case.

[2018-03-30 19:44] juanjux commented on #91
It's the same structure with added positions in some cases and json format.

[2018-03-30 20:09] dennwc commented on #91
Sure, the structure is the same, but these object will not be of a class [ast.AST](https://docs.python.org/2/library/ast.html#ast.AST) defined in mentioned Python module. This might make a difference in some cases.

[2018-04-03 09:02] EgorBu opened #92 "[memory leakage?] bblfsh.filter consumes more and more memory"
Hi,
I noticed that `bblfsh.filter` causes high memory consumption.
Here it's script to reproduce
<details>

[code]
</details>

and some measurements (surprisingly python code ~20 times faster than from bblfsh-client):
<details>

[code]
</details>

[2018-04-04 08:11] juanjux commented on #92
Thanks for reporting. RSS is usually not a good mesure of real memory usage because page faults inside the same process (as will happen in this case with more iterations) can increase it without meaning that the process real memory usage is leaking. Fortunately Python as a `resource` module that can be used to check the real usage (we actually have a unittest using it to check memory increases), s

[2018-04-04 08:31] juanjux commented on #92
I can confirm that it seems there is a leak that nonetheless doubles the memory usage every 10.500 calls to filter.

I modified the `__main__` function of the script this way:

[code]

The I ran several iterations and could check that there is indeed a increase in the % of used memory after the calls to filter trough funnily they are not lineal (sometimes it doubles while doubling the iterations,

[2018-04-04 09:05] juanjux commented on #92
More info: I tried with huge source code files and the leak increased a lot with less iterations, so it looks like some part of the UAST (or nodes?) is not being freed after usage.

[2018-04-04 14:57] r0mainK opened #93 "Python driver causes error during deserialization"
This might be linked to [issue 89](https://github.com/bblfsh/client-python/issues/89), when I looked for this kind of error on slack I found a thread from. couple days ago where Egor had this issue, and  @smola referenced it. However after looking at it, I do not think it is the same, given it seems to concern JavaScript files.

## Context

Was trying to run `apollo` bags on 4G of files, specified

[2018-04-04 15:04] juanjux commented on #93
The last error is normal, meaning that the file is broken and neither Python2 or 3 AST module could parse it. Should not cause spark to fail.

The error above certainly could be related with issue #89 since it seems to be an error deserializing a protobuf message (not really a python client error but we're investigating it).

[2018-04-04 15:18] juanjux commented on #92
In the PR above I linked all runaway memleaks, or it seems so. Meaning that there is an initial, fixed-size leak when calling filter for the first time, but after a few iterations it stabilizes and the memory usage doesn't increase (I tested with 20.000 iterations with some huge source code files).

I still haven't found the cause of the initial fixed-size leak, I guess I'll have to recompile a pa

[2018-04-05 08:59] juanjux commented on #92
After carefully monitoring the memory usage on each step, the initial "leak" is not such but the initialization of libxml2's parsing engine. After all it increase a few bytes every 4-5 iterations, probably because of caching of libxml2 or Python, and stabilized at around 100 iterations without increasing (this time I tested with 100.000 iterations when I left the office).

So this can be considere

[2018-04-06 12:02] juanjux commented on #89
I've been fighting with this a little more. As suggested in the issue linked in the previous message, I exported (marshalled) a ParseResponse from Go and tried to import (ParseFromString) from Python, without gRPC involved. It fails again. So it seems like the problem is or a protobuf bug (the file is not huge, 20kb, so I don't think we're hitting any limits).

Anyway, there is a workaround: setti

[2018-04-06 12:27] juanjux commented on #89
Nope, the workaround doesn't work, the environment variable must be set before the initial import (even reloading the grpc and protobuf modules after setting the variable doesn't have effect).

[2018-04-06 12:42] juanjux commented on #89
google/protobuf/issues/4484

[2018-04-09 09:47] erizocosmico opened #95 "Does this library work with python 2.7?"
Saw in travis.yml it's only tested in 3.6 and 3.7, but in PyPI is listed in the 2.7 category. Is it supported?

[2018-04-09 09:49] juanjux commented on #95
No, it's Python 3 only, I'll take a look at the Pypi listing.

[2018-04-09 09:50] #95 closed

[2018-04-09 10:07] juanjux commented on #95
Made the change in an already open PR to avoid versions messing so when it's merged and the version 2.9.10 is released it should not show on Pypi 2.7 category.

[2018-04-12 17:38] #92 closed

[2018-04-16 11:56] r0mainK opened #96 "New grcpio causes conflict"
In `requirements.txt`:

[code]

In `setup.py`:
[code]

Now that version 1.11.0 of `grcpio` is out, this causes conflicts during coverage check for ml, among other things.

Could you either check that 1.11 is supported and change setup, or modify requirements to insure we use version 1.10 ?

[2018-04-17 08:39] r0mainK commented on #96
Solved, thks @juanjux !
Closing.

[2018-04-17 09:32] juanjux commented on #96
No problem! Usually, we wait for the PRs to be reviewed and merged before closing issues (it should auto-close once merged since it's linked with a "fixes" text), so I'll reopen.

[2018-04-17 09:43] r0mainK commented on #96
My bad thought it was merged ^^okay gonna go check it out now !

[2018-04-17 13:46] #96 closed

[2018-04-20 10:57] zurk opened #98 "[feature request] Add support to query supported languages (with installed drivers)"
Similar to https://github.com/bblfsh/client-scala/issues/68 it is really useful to have this feature in Python client.
Now we (ML team) have a hardcoded list of languages:  https://github.com/src-d/ml/blob/master/sourced/ml/cmd_entries/args.py#L36-L40 and we should update it each time.

[2018-05-08 12:46] smola commented on #98
Last agreement is that we don't expose it on clients, since it's already on the protobuf protocol.

[2018-05-10 10:40] zurk commented on #98
@smola so I can get all supported languages from a protobuf message? Can not find anything in https://doc.bblf.sh/...

[2018-05-22 13:44] EgorBu opened #100 "[memory leakage] when use filter"
Hi,
Follow up https://github.com/bblfsh/client-python/issues/92 that had to be fixed by https://github.com/bblfsh/client-python/pull/94.
I checked again - there is a memory leakage. And quite huge.
script to reproduce
<details>

[code]

</details>

and the results of measurements:
[code]

java code that I used:
<details>

[code]

</details>

[2018-05-22 16:05] juanjux commented on #100
There was a certain memory increase on the first filter because of the initialization of libxml and a successive increase because of internal libxml2 catching until certain number of iterations at which point it wouldn't increase no matter the number of Iterations (I tested until 200.000, don't remember the point at which it was stable). Could you test with a greater number of iterations? I also t

[2018-05-22 16:10] EgorBu commented on #100
even with 400 iterations it consumed more than 10% of laptop RAM (16 GB) - I will check with bigger number of iterations and python file too. I will report numbers here.

[2018-05-23 06:05] EgorBu opened #101 "[performance] queries are slow"
Hi,
I measured time for the same query that I used in https://github.com/bblfsh/client-python/issues/100 - I think it's very suspicious that it's so slow.
Measurements:
[code]

[2018-05-30 09:59] juanjux commented on #101
These times are not from a query - there are several levels of anidated foreachs inside every iteration each doing queries plus a complete parse on each iteration.

Timing the queries and parsing individually in the same script gives 0.07 secs for the initial parsing and 0.05-0.06 for each individual xpath query.

The memleak is real trough (I'll add more info soon on #100).

[2018-05-30 10:06] juanjux commented on #100
I've been doing many tests and while I still haven't found where the leak exactly is I can say for sure that it isn't in `filter()` but in `parse()`; moving `parse()` to the called outside the loop (instead of calling it on each iteration) removes the leak.

So the problem is probably on `libuast`, but let's keep the issue here until I can confirm the specific place of the leak.

[2018-05-30 10:13] EgorBu commented on #101
If `xpath` query is slower ~20 times than the filtering in pure python - it's definitely strange. Measurements can be found in the closed issue - https://github.com/bblfsh/client-python/issues/92. And can be measured for a new query. Maybe we need to make some kind of guide `how to query efficiently` like this [one](https://blogs.msdn.microsoft.com/xmlteam/2011/09/26/effective-xml-part-2-how-to-ki

[2018-05-30 10:32] juanjux commented on #101
I don't think it's a problem of query efficiency so much as the libuast calling to some function pointers (like callback) that are implemented on the cpython side which, even while being written in C, use python data structures that are slow. But I could be wrong and this merit a further investigation.

[2018-05-30 13:11] juanjux commented on #100
Of course, it couldn't be so simple:

- Parse outside the loop, filter inside the loop: no leak.
- Parse inside the loop (without filter): no leak.
- Parse and filter inside the loop: leak.

WTF...

[2018-05-31 16:54] juanjux commented on #100
@EgorBu should be fixed by #102 when merged and tagged.

That was hard to find and easy to see once I found it, dammit.

[2018-05-31 17:45] #100 closed

[2018-06-07 08:36] juanjux commented on #101
@smola, definitely, libxml does a lot of allocations when starting up and so does libuast when creating the pseudo-xml. Ad-hoc code on Python on already allocated and initialized nodes it's not so strange that is  faster (specially using filter() et all that are implemented using C).

@EgorBu could you try again this benchmark after the memleak fix? I'm curious about the results but I don't have y

[2018-06-13 15:17] bzz commented on #98
SDK has been updated and a new [bblfshd released](https://github.com/bblfsh/bblfshd/releases/tag/v2.5.0) so Python driver would need some ❤️  similar to https://github.com/bblfsh/client-go/pull/57 to expose `SupportedLanguages`

[2018-07-24 13:44] EgorBu opened #104 "[broken doc] link to doc.bblf.sh is broken"
Hi,
I noticed that link to `https://doc.bblf.sh/user/language-clients.html` is not working anymore.
Probably it should be replaced with `https://doc.bblf.sh/using-babelfish/language-clients.html`.

[2018-07-25 09:08] EgorBu opened #106 "[bug] POSITION_ORDER iterator is broken"
Hi,

[code]

all other iterators are working well.

[2018-07-25 12:21] juanjux commented on #106
![works](https://i.pinimg.com/originals/02/6c/7f/026c7f91e81734c8724b8ab725e3d1f1.jpg)

@EgorBu could you provide the code you're parsing to see if I can reproduce it?

[2018-07-25 12:29] EgorBu opened #108 "[feature request] add position information"
Hi,
I found that python-driver has lack of position information for several tokens.
[code]

The source code I used is in details
<details>

[code]

</details>

As result we may notice seral tokens without position information:
[code]

some of them are imports like
[code]
some operators
[code]
some arguments
[code]

[2018-07-25 12:31] EgorBu commented on #106
The source code is in details of https://github.com/bblfsh/client-python/issues/108

[2018-07-25 12:37] EgorBu opened #109 "[bug] comments have unexpected brackets"
Hi,
I noticed that comments have some unexpected brackets (and symbols - should `#` be included into token?):
[code]

Code to reproduce:
[code]

The source code I used is in details
<details>

[code]

</details>

As result we may notice seral tokens without position information:
[code]

[2018-07-25 13:07] EgorBu commented on #108
I made the small script that should help understand which positions are missed:

[code]

and results on code from details above:
[code]

[2018-07-25 13:30] EgorBu commented on #108
For javascript - some positions are missed for positional arguments like `/\<img/g`:
[code]
visualization:
[code]

[2018-07-25 13:35] juanjux commented on #108
These issues should go to the Python and Javascript drivers projects. That script is cool!

[2018-07-25 14:22] juanjux commented on #106
I still can't reproduce it. Please ensure you're using client-python 2.9.13 or (soon to be released) 2.9.14. Using this code myself:

[code]

[2018-07-25 14:30] juanjux commented on #106
Update to 2.9.14 and try again please.

[2018-07-25 14:35] EgorBu commented on #106
Updated to 2.9.14 - and it works! Thanks, I think that this issue should be closed.

[2018-07-25 14:35] #106 closed

[2018-07-25 14:36] EgorBu commented on #109
[code]
versions of drivers - should I update them?

[2018-07-25 14:40] dennwc commented on #109
Yes, if you want to try new drivers before the release ;) For Python it's a v2.1.2.

[2018-07-25 14:50] juanjux commented on #106
Thanks @EgorBu, yep, we had some memory problems some versions ago.

[2018-07-26 08:42] juanjux commented on #109
The # and brackets are not in the token in the latest driver (v2.1.3). Also, this issue should be in the python-driver project.

[2018-07-26 08:46] juanjux commented on #108
For the Python driver, we currently fix tokens that at least have a line number but not column (with are a lot) using a tokenizer, but there are some nodes like import names and some parameters that don't even have a line number. A workaround would be to do something like (pseudocode):

[code]

This could potentially be somewhat slow but would fix most if not all of the current issues.

[2018-07-26 08:48] EgorBu commented on #109
How can I understand the version from the command above?
`| python     | docker://bblfsh/python-driver:latest     | dev-6629fad `

[2018-07-26 08:52] juanjux commented on #109
It's the `latest` in `python-driver:latest` which unfortunately is not really the `latest` but should be soon enough.

[2018-07-26 08:55] EgorBu commented on #108
how can it handle corner case like:
[code]
?
`arg` will be in two places, functions will have the same line

[2018-07-26 09:00] juanjux commented on #108
The current token synchronizer removes a token from the list of lines (list of list) when it gets the position of it. But that's just a proposal that could be relatively easy to integrate with what we have, there could be others.

[2018-07-26 09:06] smola commented on #108
You might want to follow this: https://bugs.python.org/issue33337

[2018-07-26 10:35] juanjux commented on #108
The script to show missing tokens seem to have some problems, the output is garbled and it's showing some tokens as missing when in fact they're there (like `assertIs` and others):

https://gist.github.com/juanjux/4d29ae5aec8f2953a1bb47d75034288a

[2018-07-26 11:51] juanjux commented on #109
I can reproduce it with v1.3.1 for SameLineNoop comments. v1.3.1 is the last one before the DSL migration and @EgorBu told me they'll use that version for their current project, so I'll release a v1.3.2 with that problem fixed. @EgorBu is this ok for you?

[2018-07-26 13:19] juanjux commented on #109
Should be fixed by:

https://github.com/bblfsh/python-driver/pull/162

Will be tagged as 1.3.2 and set as "latest" once merged.

[2018-07-26 20:10] #109 closed

[2018-07-26 20:17] juanjux commented on #109
Latest is now pointing to 1.3.3.

[2018-07-27 11:03] #98 closed

[2018-08-03 08:32] smola opened #114 "Error on Windows installation"
Original report by @AnneshaChowdhury: https://github.com/src-d/tmsc/issues/10

[code]

[2018-08-03 08:47] juanjux commented on #114
Sounds like a problem compiling with Visual Studio, the code at these lines is correct C++11/14, I'll check with a VM or my gaming computer.

[2018-08-03 15:20] AnneshaChowdhury commented on #114
@juanjux - yeah, that seems to be the problem. I followed all the steps on my Windows machine with the python venv, but no luck so far. Would appreciate it if you can help me with the issue!

[2018-08-07 08:50] #114 closed

[2018-08-07 08:53] juanjux commented on #114
Version 2.10.1 should fix this. Note that you still need to [install libxml2 and libuast](Version 2.10.1 should fix this. Note that you still need to [install libxml2 and libuast]() in Windows before pip will work.) in Windows before pip will work.

[2018-08-09 18:44] vmarkovtsev opened #116 "Import explodes on Python 3.7"
[code]

fails with

[code]

Reproducible exclusively on Python 3.7.0 final (works fine with beta3). How to reproduce:

[code]

Related to https://github.com/google/protobuf/issues/2533 but not really.

Looks like the top-level import of `bblfsh` is not visible to the import system and it imports the module twice. The workaround is to comment out that assertion inside protobuf.

[2018-08-09 19:26] vmarkovtsev commented on #116
Yes, the problem is that "import github.com.gogo.protobuf.gogoproto.gogo_pb2" with sweded `sys.path` and "import bblfsh.github.com.gogo.protobuf.gogoproto.gogo_pb2" are different from 3.7's point of view. The solution is to make the internal imports absolute.

[2018-08-09 19:43] #116 closed

[2018-08-13 15:38] tsolakoua opened #120 "Text improvement on clients documentation"
In the [clients](https://doc.bblf.sh/using-babelfish/language-clients.html) guide:

 ``` The client API's differ to adapt to their language specific idioms, the following [codes] [shows] several simple examples with the Go, Python and Scala clients that [parsers] a file and [applies] a filter to return all the simple identifiers. ```

-  I don't know if it's correct in english using the plural ```

[2018-08-13 15:44] juanjux commented on #120
Wrong repo :)

[2018-08-13 15:44] #120 closed

[2018-08-29 14:32] vmarkovtsev opened #122 "Different Node classes in the same package"
[code]

The first printed number is different from the rest. That's because `bblfsh/gopkg/in/bblfsh/sdk/v1/protocol/generated_pb2_grpc.py` does

[code]

As soon as the module is imported from the different PYTHONPATH, the classes get screwed and although they are really the same, they are different. Hence `isinstance()` returns False on 3.7, etc.

Suggested fix: remove all the tricks with PYTHONPA

[2018-09-04 09:42] vmarkovtsev commented on #122
I am on it.

[2018-09-07 16:30] EgorBu opened #125 "Supported languages raise unimplemented exception"
Hi,
I tried to call https://github.com/bblfsh/client-python/blob/master/bblfsh/client.py#L103:
[code]
and it gives me
[code]
I updated bblfsh-client version to `bblfsh-2.12.1` but in python it still shows client version:
[code]

[2018-09-14 08:07] EgorBu opened #126 "`language` argument in `client.parse` changes number of files signigicantly"
Hi,
I found the strange behavior of `language` argument in `client.parse`.
When you parse files with and without this argument and after select files with specific language - it returns a different number of files.
Code for reproducibility:
<details>

[code]

</details>

and results:
[code]

[2018-10-23 11:17] zurk opened #131 "No module named 'bblfsh.gopkg' for v2.12.2"
[code]

[2018-10-23 11:39] vmarkovtsev commented on #131
Indeed, no proto bindings exist in the new package @juanjux

[2018-10-23 11:45] juanjux commented on #131
Frag, forgot to run getdeps, will fix it.

[2018-10-23 12:39] juanjux commented on #131
Fixed in v2.12.3 already on pypi.

[2018-10-23 12:39] #131 closed

[2018-10-23 13:35] zurk commented on #131
Incredible speed!

[2018-10-23 14:46] juanjux commented on #131
Incredible speed because this is not the first time I have made this error...

[2018-11-29 10:08] deepakorantak opened #137 "Converting the output of the python client filter function back to UAST"
I'm using python client to parse a java source code file and use bblfsh.filter to check a condition of a rule.
The return type of this filter function is an iterator. I want to convert back to UAST.
how to do it ? please guide

[2018-11-30 10:22] juanjux commented on #137
You can apply filter over any node in the UAST. Technically, there is not a UAST format (well, there is, but is binary and internal to the protocol), but for example in Python any `Node` object could have a filter function applied to it.

[2018-12-09 12:39] zurk commented on #89
Any updates about the issue?

[2018-12-09 13:40] vmarkovtsev commented on #89
We keep hitting this indeed.

[2018-12-09 14:15] zurk commented on #89
the same way to reproduce works for bblfshd `v2.10.0` and js drivers `v1.2.0` and `v2.5.0`

[2018-12-10 13:10] juanjux commented on #89
If you read the linked issue, it's a hardcoded maximum recursion value in gRPC code so there isn't much we can do about it. Shouldn't affect the soon to be released python client v3 since it'll use the new encoding (a flat list).

[2018-12-12 19:10] vmarkovtsev commented on #122
Fixed long time ago

[2018-12-12 19:10] #122 closed

[2018-12-13 06:12] deepakorantak commented on #137
Thanks for the reply. I have a different request. Can I save the UAST returned from the parse function i.e. response.uast into a plain text file ? If yes how to do that? I have tried to convert response.uast into list by list(response.uast) and try to iterate it says -  'Node' object is not iterable

[2018-12-13 10:03] deepakorantak commented on #137
@juanjux  - thanks for solution for the original filtering UAST over and over again. It worked.
Also it helped me export the USATto text file. Thanks a lot for your help

[2018-12-13 10:39] juanjux commented on #137
Happy to help!

[2018-12-17 16:53] smacker opened #139 "The latest version is not found on pypi"
I see there is version 2.12.7 in releases on github but when I try to install it:
[code]

Here https://pypi.org/search/?q=bblfsh I see only 2.12.6 too.

[2018-12-17 17:09] juanjux commented on #139
Looks like `setup.py` was not updated with the version and thus the upload to pyi failed because it tried to re-do the previous one. I've updated setup.py and recreated the tag and uploaded to pypi.

[2018-12-17 17:09] #139 closed

[2019-01-17 21:58] gregkonushev-okta opened #140 "failed to install on macos"
I have installed `libxml2` from `brew`,
but `pip install bblfsh` fails with this error:
[code]

[2019-01-17 22:43] creachadair commented on #140
I believe libxml2 is keg-only, because Homebrew doesn't want to introduce link-time conflicts with existing system libraries. You may need to tell `pip` where the Homebrew include and lib paths are, though, perhaps something like:

[code]

[2019-01-18 12:15] juanjux commented on #140
Yes, as explained in the Dependencies section of the readme, this client depends on having libxml2 headers installed.

Next version will remove that requirement.

[2019-01-18 14:38] creachadair commented on #140
I think the problem was that they _are_ installed, but Homebrew doesn't automatically link them to the default include path.

[2019-01-18 18:21] gregkonushev-okta commented on #140
For Mojave MacOS I was able to solve this problem by installing command line tools from /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

[2019-01-24 10:00] bzz commented on #140
Thank you for reporting workaround @gregkonushev-okta 🎉

Will close this, if there no objections as a workaround is found AND a it's not worth documenting it elsewhere as @juanjux mentioned - a new version from #128 will not have this dependency at all.

[2019-01-24 10:00] #140 closed

[2019-01-24 10:34] bzz commented on #126
@EgorBu thank you for detailed reproducible example!

First of all - this does not seem to be any language-specific client issue, but rather a `bblfshd` one - if one does not pass language to bblfshd, as it [can be seen here](https://github.com/bblfsh/bblfshd/blob/750edfa86671f7ae4e59aa61fceb123d936249f0/daemon/service.go#L99) `enry` will be used to detect it.

So, most probably this has to do mor

[2019-01-24 10:38] EgorBu commented on #126
thank you @bzz, here it's the result:
[code]
I don't mind to move this issue to `enry`

[2019-01-24 10:47] bzz commented on #126
Ok, so it seems:

 - out of all 500 files, autodetecting the language only 187 files are found to be in JavaScript AND can be parsed using JavaScript driver
 - out of all 500 files, assume all 500 are in JavaScript \wo lang detection: 258 files can be actually parsed using JavaScript driver

I would be happy to put together a small go program to dig deeper in case if:
 - you could upload result of

[2019-01-24 11:08] EgorBu commented on #126
@bzz - [gdrive](https://drive.google.com/file/d/1pzUFSK44k0fwyB30tFl34tETQpclhtez/view?usp=sharing)

[2019-01-24 12:00] bzz commented on #126
Apparently, on github one can not just transfer an issue between orgs 😖

Here is the language detection stats on that repo

[code]

Right now it's a known issue that although JSX can be parsed by bblfsh JavaScript driver, it will be not as Enry does not detect it as JavaScript https://github.com/bblfsh/javascript-driver/issues/46#issuecomment-442799748

So out of 71 files, these is 55, so only 16

[2019-01-24 12:15] bzz commented on #126
@EgorBu overall, I would say it behaves as expected and Enry performs well.

The only way to "change" it that I can see is on bblfsh side, by introducing a notion of "dialects" for the drivers: so a single "language driver" e.g JavaScript could parse multiple "language dialects" (like JSX, JavaScript, or Bash + Zsh, etc)

This has been proposed/discussed a little bit under https://github.com/bblfs

[2019-01-24 12:23] EgorBu commented on #126
Thank you, @bzz , yes, it makes a lot of sense. And this was my expectation that `js-driver` can't distinguish between different `dialect` of JS. Probably documentation should be added too - so other users will know about this caveat.

[2019-01-24 14:12] bzz commented on #126
Great. And it's easy to verify that CSS can also be parsed by JavaScript driver:
[code]

I'm going to go ahead and close this issue then.

What I will try to do is to put together a proposal under `bblfshd` for handling dialects so missmatch of enry<=>bblfsh language names would be covered.

[2019-01-24 14:12] #126 closed

[2019-01-24 14:22] bzz commented on #125
Could not reproduce it with latest bblfsh-client

[code]

@EgorBu could you please try and check if this is still the issue?

[2019-01-24 14:24] bzz commented on #101
@EgorBu thank you for putting together the benchmark!

We will re-run this test again as soon as #128 lands and hopefully new libxml-less version will improve the performance!

[2019-01-26 08:09] vmarkovtsev opened #141 "Issues with `version()` and `supported_languages()`"
I run the following code and get:

[code]

The version string has a negative number of seconds and empty "elapsed".

The javascript driver version is reported to be "dev-adcd1b4", which does not help to check that it is 1.2.0 (which we strictly require since the newer versions do not work for us).

[2019-01-28 13:10] juanjux commented on #141
There are several issues here, neither of those culprit of the poor Python client :)

- Missing elapsed and negative seconds seems to be a problem with the `VersionResponse` implementation in `bblfshd` since the returned value is directly the one from calling `VersionRequest` on the client without any added code.

- Bad version for the Javascript driver, seems to be a problem with either the Javas

[2019-01-28 16:11] juanjux commented on #141
I've fixed the "elapsed" problem, as expected [it was a bug in bblfshd](https://github.com/bblfsh/bblfshd/pull/233), looking now at why the elapsed time is empty for that request type which won't be far from that other critter.

[2019-01-29 15:57] dennwc commented on #91
I think it's relevant, but it should be addressed in SDK first:
https://github.com/bblfsh/sdk/issues/352

[2019-02-11 08:49] juanjux commented on #141
Closing this, I'll open an issue for the javascript driver version.

[2019-02-11 08:49] #141 closed

[2019-03-21 20:59] alichtman commented on #140
I just ran into this same issue, and the command that fixed the problem for me was:

`env CFLAGS="-I$(brew --prefix)/opt/libxml2/include/libxml2" pip3 install bblfsh`

From @creachadair

It would be helpful if this were added to the README.

[2019-03-21 21:16] alichtman opened #143 "`raw` param is cited in docstring but doesn't appear in client.parse() signature"
https://github.com/bblfsh/client-python/blob/375fd7e7a1a74364a0b0ba38887bb87d39cf71c8/bblfsh/client.py#L71

[code]

[2019-03-22 15:51] creachadair commented on #140
I believe #128 removes the dependency, but that the current release doesn't include it yet. We are planning to cut a release including these changes soon, and at that point this workaround should no longer be required. Sorry for the confusion about timing.

[2019-03-22 16:11] creachadair commented on #143
Thanks for pointing that out. I think we just forgot to clean that up after updating the function signature, I've sent #144 to clean it up.

[2019-03-22 19:31] alichtman commented on #143
Got it, thanks for clearing that up!

[2019-03-22 19:36] alichtman opened #146 "[bug] Attribute error on ctx.get_all()"
Running this snippet produces the following error:

[code]

`ctx` prints as expected, but the type seems to be incorrect, which causes an `Attribute Error` to be thrown.

The parse method signature is: `def parse(self, filename: str, language: Optional[str]=None, contents: Optional[str]=None, mode: Optional[ModeType]=None, timeout: Optional[int]=None) -> ResultContext:`

I was expecting the type t

[2019-03-23 11:28] #143 closed

[2019-03-25 15:21] bzz commented on #140
And [v3.0.0](https://github.com/bblfsh/client-python/releases/tag/v3.0.0) release is out now on pypi.

[2019-03-25 22:24] alichtman opened #148 "pip3 install bblfsh fails on macOS Mojave"
**Environment**

- Python 3.6.4
- MacOS Mojave 10.14.3

[code]

This may be a compiler version issue on my end, but I figured it was worth reporting until I had time to dig into it further.

[2019-03-25 23:33] creachadair commented on #148
I haven't yet attempted to reproduce this, but it looks as if you may not having a complete C++ compiler installation. Since you are on macOS, you may need to install XCode.

What do you get if you run this?

[code]

If it cannot find `xcodebuild`, or if you get an error like `xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools

[2019-03-26 03:53] alichtman commented on #148
[code]

I do have the XCode toolchain installed.

[2019-03-28 21:53] creachadair commented on #148
Thanks for checking. I have a couple theories about what may be going on here, which I'll have to investigate in more detail.

[2019-04-02 18:05] creachadair commented on #148
I suspected we might not be setting `-std=` correctly in our setup scripts, but I'm having trouble reproducing the original issue.

Here's my setup, from as clean an install as I was able to manage:

[code]

But in this setup, `pip3 install bblfsh` does not produce any errors.

Obviously it did for you, but I'm having difficulty isolating what's different between our systems, other than that I got

[2019-04-03 01:21] alichtman commented on #148
I no longer need to use `bblfsh`, so in a way I've solved my problem. It might be a me-specific thing, in which case this isn't a huge deal. If you're not able to reproduce it, I wouldn't worry about it for now.

[2019-04-03 14:39] creachadair commented on #148
I'm curious to know: Did you wind up using a different client, or something else entirely?

[2019-04-19 12:50] dennwc opened #149 "New client requires either GOPATH or go"
Currently, the client needs a `GOPATH` environment variable to be set or `go` tool to be available in order to install.

I don't see any reason why it should be the case. None of the install scripts actually use it, so this dependency should be removed.

[2019-04-19 13:16] #149 closed

[2019-04-24 02:48] victorjof opened #153 "Syntax for variable annotations requires python 3.6=>"
https://github.com/bblfsh/client-python/blob/cc9fbc4cd52948cd23dea806c88af6381f0c84ce/bblfsh/node.py#L161

[2019-04-24 15:08] creachadair commented on #153
@dennwc It seems to me we could just make Python ≥ 3.6 a requirement. Since we require Python 3 anyway, there doesn't appear to be much advantage to the older editions. What do you think?

[2019-04-24 15:29] dennwc commented on #153
I don't know that much about Python ecosystem, but it sounds reasonable.

[2019-04-24 16:50] #153 closed

[2019-04-26 18:46] smacker opened #156 "bblfsh client does not work on macOs"
[code]

[code]

[2019-05-01 17:38] creachadair commented on #156
So the basic issue here is that `libuast.so` is not being pulled in to resolve the undefined symbols in the shared library. I am able to make it work by manually opening that `.so` prior to import, e.g.,

[code]

This is obviously not a fix, but it suggests we might need to add some additional bits to the `setup.py` and/or the installation instructions for macOS to ensure we have that `.so` on the

[2019-05-02 14:26] creachadair commented on #156
I'm having trouble reproducing the exact environment we get from the `pip3` installation, but it looks like the `setup.py` fetches `libuast.so` for the wrong architecture on macOS: Specifically, it fixes `LIBUAST_ARCH = "linux-amd64"` and does not update it from the ambient.

When building, this means we wind up linking against the wrong thing:

[code]

But I suppose `ld` considers this a "warning

[2019-05-02 15:08] creachadair commented on #156
Setting the architecture from `sys.platform` gets us the correct release, but the Darwin release binary does not contain a static `libuast.a`. It does contain a `libuast.so`.

The setup script presently assumes there will be a `libuast.a` and includes it as data for the `bblfsh.pyuast` external package, but of course on macOS that doesn't exist. Including `libuast.so` instead doesn't work as-writt

[2019-05-02 15:30] creachadair commented on #156
I manually built `libuast.a` via `go build -mode=c-archive`, and copied it into my build tree with `GET_LIBUAST` set to false. This permits a `python3 setup.py install` to produce a working extension.

I still have some work to do, because Apple's `clang` seems by default to prefer a `.so` if one is available. However, I think we're getting closer to a solution.

[2019-05-02 15:53] creachadair commented on #156
This turned out not to be a problem because our config explicitly names the `.a` files to be linked on the command line, rather than pulling them in by path. (We do also reference the path, but fortunately explicit arguments supersede library search).

[2019-05-02 16:46] creachadair commented on #156
Things to fix:

- [ ] Build a static `libuast.a` for macOS releases (https://github.com/bblfsh/libuast/pull/101)
- [ ] Push a new release of libuast with that change.
- [ ] Update client-python to depend on that release.
- [ ] Fix the platform signature issue.
- [ ] Deploy a new `bblfsh` PyPI package.

[2019-05-03 15:43] creachadair commented on #156
I can confirm this now works after release of v3.0.4.

[code]

[2019-05-03 15:43] #156 closed

[2019-05-22 10:14] zurk commented on #89
I confirm that the issue is fixed in python client v3.0.4
Thanks!

[2019-05-22 10:14] #89 closed

[2019-05-29 14:43] dennwc opened #158 "Rename to python-client"
To make it consistent with drivers, we should rename the repository to `python-client`.

[2019-05-29 18:00] dennwc opened #159 "Write more test cases"
E.g for

 - `pyuast.Context.encode()`
 - `pyuast.NodeExt.load()`
 -

and others from the [native CPython extension](https://github.com/bblfsh/client-python/blob/master/bblfsh/pyuast.cc)

[2019-05-30 15:39] dennwc commented on #158
Umbrella issue: https://github.com/bblfsh/documentation/issues/231

[2019-06-06 07:43] polemicducky opened #160 "gRPC failure when running sample code"
Hi,

Sorry, if this is not the proper forum for this.

I'm trying to run the sample code on the readme but I'm getting some gRPC issues and a bit stuck on how to move forward. Hoping to get some help.

Running this piece of code

[code]

yields

[code]

I'm using python 3.7.1 on ubuntu 18.04.2 running on virtualbox. It's a corporate network, with proxy servers properly set up (able to download ima

[2019-06-06 21:01] creachadair commented on #160
I don't know exactly what's going on here, but the error message appears to indicate a failure of the channel to connect to its target address. Assuming the Python code is running on the host, and given that `bblfshctl` is running inside the container, that suggests to me there is some problem with the mapping between the host port and the container port.

Is it possible your system has a firewall

[2019-06-07 09:24] polemicducky commented on #160
I tried `lsof -i4tcp:9432` and `lsof -i tcp:9432`, but both options are not displaying anything.

Not sure how it works exactly, but I was finally able to make it work by using `client = bblfsh.BblfshClient("localhost:9432")` instead of 0.0.0.0.

Thanks for your support!

[2019-06-07 13:03] creachadair commented on #160
That's interesting. In principle 0.0.0.0 should have resolved to all the addresses bound by any interface. I suppose it's possible the network management software has done something to interfere with that resolution step. It might be worth seeing what `nslookup localhost` says.

[2019-06-10 04:59] polemicducky commented on #160
Sorry for the late response, the output of that command is
[code]

[2019-06-11 11:20] bzz opened #161 "CPython: Node.kindOf does not distinguish NODE_UINT"
While reading a native extension code, I noticed that [`Node.kindOf`](https://github.com/bblfsh/client-python/blob/788ceb12b22aa881542d44065137e1fc7e522fd5/bblfsh/pyuast.cc#L455) implementation does never return `NODE_UINT`, although this case seems to be handled in other places.

[2019-06-14 17:26] dennwc commented on #160
I think we should just change our examples to use `localhost` instead of `0.0.0.0` to prevent that kind of issues.

[2019-06-14 17:32] dennwc commented on #161
Python doesn't have an unsigned integer type, so we have no real way for checking it.

We could define our custom unsigned integer type for this purpose, but I think this will be an overkill.

I'm closing this one, but feel free to reopen if you have any other concerns.

[2019-06-14 17:32] #161 closed

[2019-06-14 17:34] dennwc commented on #148
@creachadair Does https://github.com/bblfsh/client-python/pull/157 fix this?

[2019-06-14 17:37] dennwc commented on #146
Related to v1 API. See [examples](https://github.com/bblfsh/client-python/blob/master/README.md#usage) for the currently supported v2.

[2019-06-14 17:37] #146 closed

[2019-06-14 18:02] creachadair commented on #148
Yes, I believe so—I was able to `pip install bblfsh; python3 -c "import bblfsh"` without error at 3.0.4.

[2019-06-14 18:32] dennwc commented on #148
OK, closing.

[2019-06-14 18:32] #148 closed

[2019-06-19 08:20] #160 closed

[2019-06-25 11:01] r0mainK opened #167 "Memory leak when using the client"
I am using the client with the latest `bblfshd` docker image. I do not have any issues on the container, however I can see the memory used by the python process keeps increasing, and never decreases.To reproduce, create a rows object/iterator with blobs, then run:

[code]

You should see that the memory keeps increasing at each iteration, and is never released. I also tried doing `del ctx` after t

[2019-06-25 12:23] r0mainK commented on #167
I've done a couple tests, it seems:

- the behavior is the same when directly point to a file_path;
- when using only the `parse` method, although the amount of memory is much smaller, it does not seem to be deallocated as well
- deleting the objects does not seem to do anything, e.g. `del ctx`, `del it` with `it = ctx.filter(uast_xpath)`
- closing the client doesnt do anything either

I would bet

[2019-07-02 10:01] bzz opened #168 "SupportedLanguages protocol V2 \w aliases"
Alias support was added to the SupportedLanguages request in Go client at https://github.com/bblfsh/go-client/pull/122

It would make sense to expos it in the python client as well, esp given that there seems to be a user demand for it https://github.com/src-d/tm-experiments/pull/9/files#r299316435

[2019-07-08 10:34] #158 closed

[2019-07-08 13:23] dennwc commented on #168
Since we are slowly reaching an end of v1 support, I propose to only support v2 protocol in Python client. Thus, we won't need the same version check as in the [Go client](https://github.com/bblfsh/go-client/blob/master/client.go#L70) to implement this feature.

[2019-07-08 14:45] creachadair commented on #168
This makes sense to me—unless there's a clear blocker, let's plan on that.

[2019-07-11 20:11] #159 closed

[2019-07-19 22:57] vmarkovtsev commented on #167
Note: this bug has ruined the crypto detection demo. The client had to process much code and peaked at 43GB RES before I killed it.

[2019-07-20 11:02] vmarkovtsev opened #171 "bblfsh.decode hangs with multiprocessing"
The following code hangs:

[code]

however this doesn't

[code]

The reason is likely because gRPC in Python infinitely sucks as always, and it manages to interfere with regular protobuf reading somehow. I wonder if there is a way to fix this.

We had to defer grpc loading in the past when we had similar problems.

[2019-07-20 20:05] creachadair commented on #171
I think https://github.com/grpc/grpc/issues/16001 is likely to be relevant here. Specifically, this might explain why the deferred import appears to "help" in this case.

[2019-07-23 16:04] rick2600 opened #173 "Allow creating contexts from Python objects"
It would be useful if we could get the python dict from a node, change it and then reload the node with the change to use .filter().

Something like:

[code]

[2019-07-23 16:40] dennwc commented on #173
From an implementation perspective, we already have this functionality in `libuast` and `pyuast` wrapper. The only missing piece is the client-facing wrapper for it.

I propose something like this:

[code]

[2019-07-24 18:07] ncordon commented on #167
Just a note to myself (or anybody else that tries to fix this in case I cannot). Minimal example producing the error:

[code]

[code]

This eats the memory as if it were cookies :rofl: . But it is safe to execute as it would kill the process automatically when 1GiB is already allocated.

[2019-07-24 18:29] dennwc commented on #167
OK, so it looks like it's in iterators after all.

This may help the investigation: the iterator keeps the context pointer, and should `INCREF it. It may not `DECREF` it properly, though.

[2019-07-24 19:22] r0mainK commented on #167
@dennwc it is not limited to iterators, as I had mentionned in a previous comment - and the title of this issue should be changed. In our topic modeling experiments we get OOM although using only the `parse` method, before converting the data to python `dict`.

Using the `filter` completely impedes working on large amount of data as Nacho stated, but as of now even using only `parse` quickly cause

[2019-07-24 19:25] vmarkovtsev commented on #167
I got leaks on `bblfsh.decode().load()`-s.

[2019-07-26 16:31] rick2600 opened #175 ".filter() - Invalid memory address or nil pointer dereference"
I found by accident an invalid memory access.

**poc.py**
[code]

**poc.php**
Any php code apparently

**stacktrace**
[code]

[2019-07-30 14:25] ncordon opened #179 "Iterators failing in python-client with current libuast version"
The current upstream [python-client](https://github.com/bblfsh/python-client/tree/dfda83d6d29e4a385690deda450c6f077ee1e84c) passes all the tests with the `libuast` v3.3.1. But some of them fail with the current upstream version of [libuast](https://github.com/bblfsh/libuast/tree/b69f7e5f7337db563e96f04dbcf91d6eb61271ef).

<details>
<summary>See details</summary>

[code]

</details>

How to reprodu

[2019-07-30 19:15] kuba-- opened #178 "Switch to protocol v2"
Right now, python-client talks to bblfshd over v1 and v2 (it's a mix, some requests like version go over v1, others like parse over v2).
I suggest to totally switch to protocol v2. Eventually we can tag the python-client release, so we can explicitly say - "only v2 is supported".

[2019-07-31 09:09] ncordon commented on #175
Thanks for your issue @rick2600. We will address this as soon as possible

[2019-07-31 13:15] bzz commented on #173
This will also enable us to add a [unit test](https://src-d.slack.com/archives/C7UDG9VNY/p1564573857066700?thread_ts=1564572181.064200&cid=C7UDG9VNY) for a case that is missing right now and was not part of the #159 as this is pre-request for having it.

With the logic of:
 - parse a file, load to Python
 - create new python-side context
 - encode loaded UAST using that context
 - compare resultin

[2019-07-31 13:25] vmarkovtsev commented on #167
Hey @r0mainK can you please test that the leaks no longer exist?

[2019-07-31 13:33] ncordon opened #181 "Avoid context deallocation in Node and NodeIterator"
Currently the classes [Node](https://github.com/bblfsh/python-client/blob/dfda83d6d29e4a385690deda450c6f077ee1e84c/bblfsh/node.py#L127) and [NodeIterator](https://github.com/bblfsh/python-client/blob/dfda83d6d29e4a385690deda450c6f077ee1e84c/bblfsh/node_iterator.py#L9) save a reference to the context to avoid context dellocation. We should take care of that from the C++ side instead, and do a `Py_I

[2019-07-31 14:35] ncordon commented on #167
This has not been integrated completely @vmarkovtsev. We have solved the issues in `libuast` but have not merged the fix #176 and addressed #181 yet in the `python-client`

[2019-07-31 14:36] vmarkovtsev commented on #167
I see, thanks for pointing this out.

[2019-07-31 18:02] #178 closed

[2019-08-06 06:30] alonsopg opened #184 "Kernel dies when running from jupyter notebook?"
After installing babel fish, when I run the library, I get: `The kernel appears to have died. It will restart automatically`. Is this normal? However, when running on the terminal I get a dictionary with the UAST tags, how can I run this client it in python's jupyter notebooks?

[2019-08-06 10:37] bzz commented on #184
Hey @alonsopg - yes, one should be able to use it from Jupyter.

If you could you please also post the python/jupyter/python-client versions that you are having an issue with?

[2019-08-06 11:42] ncordon opened #185 "Port all reference counting to the C++ part"
Right now `NodeIterator` (`node_iterator.py` file) and `Node` (`node.py` file) contain a reference to the `Context`, so that it does not get deallocated  when we are working with an iterator which traverses the tree, for example.

For the `NodeIterator` to be able to call `iterate` method we have to create an `iterator` in the C++ side, which right now does not do a `Py_INCREF` of any context, bec

[2019-08-06 12:07] #179 closed

[2019-08-06 14:07] dennwc commented on #101
The new client was released, we need to check the performance again.

[2019-08-07 04:06] alonsopg commented on #184
I reinstalled everything and now works properly, thanks!

[2019-08-07 04:06] #184 closed

[2019-08-07 04:09] alonsopg opened #186 "What is the difference between a regular AST and the UAST?"
Let's say that I have one python AST extracted with the ast library, and a UAST extracted with bblfish. What are the differences between them? Do I lose representation and the ability of modelling a piece of code if I use UAST?

[2019-08-07 06:52] kuba-- commented on #186
Take a look here: https://forum.sourced.tech/t/difference-between-uast-modes-native-annotated-semantic/69

And bblfsh documentation: https://doc.bblf.sh/uast/uast-specification-v2.html

I hope it can answer your questions

[2019-08-07 10:08] EgorBu commented on #101
Would be glad to hear news about changes!)

[2019-08-07 18:12] creachadair commented on #185
This seems like a really good idea. Also, this is a really great detailed write-up of the problem, thank you.

[2019-08-08 14:54] ncordon commented on #175
Hi @rick2600. The part `"//*[@role='Variable']*//Name"` had an spare asterisk `*`. I suggest you use this query instead for your purpose, please:

[code]

Certainly we should find user-friendlier ways to tell that the written query is not syntactically correct :wink: If you want to extract all the variable names used, you can do so further iterating over the result of the `filter`:

[code]

[2019-08-08 15:00] ncordon commented on #175
With respect to the awful stacktrace failure, we will further investigate it

[2019-08-08 15:34] rick2600 commented on #175
Hi @ncordon thank you. Yes, the problem is caused by this asterix, the query is not correct but I decided to report because of this SIGSEGV.

[2019-08-08 19:15] alonsopg commented on #186
Great, thanks a lot!

[2019-08-08 19:15] #186 closed

[2019-08-08 21:03] #181 closed

[2019-08-13 11:02] ncordon commented on #175
I am transferring this issue to the [sdk](https://github.com/bblfsh/sdk)

[2019-08-16 10:50] bzz commented on #185
I belive the same context lifetime considerations for iterators are applicable for scala-client as well.

[2019-08-29 10:48] ncordon commented on #167
This was closed by #183 and #176. We will do a release soon

[2019-08-29 10:48] #167 closed

[2019-09-11 14:50] #173 closed

[2019-09-11 16:34] ncordon opened #189 "Incorrect bytes in decode kill the python interpreter"
Thanks to @smacker who discovered this issue:

[code]
kills the Python intrepreter. Also any incorrect sequence of bytes like `bytes = b'abcdef' would produce the same behavior.

[2019-09-16 16:54] #189 closed

[2019-10-02 15:46] ncordon opened #195 "Native Context.root not called anywhere"
As explained in the sibling issue in [`scala-client`](https://github.com/bblfsh/scala-client/issues/136) [this method](https://github.com/bblfsh/python-client/blob/272454e25d30f7389729803078e2f0577b82b1c7/bblfsh/pyuast.cc#L931) does not work natively. Currently we do provide a Python Context [way](https://github.com/bblfsh/python-client/blob/272454e25d30f7389729803078e2f0577b82b1c7/bblfsh/result_c

[2019-10-14 11:09] m09 commented on #168
Friendly ping to document that we are still running into this issue: most recently for the preparation of the workshop we'll do in one week:

[code]
results in

[code]
(indeed https://github.com/bblfsh/python-client/blob/master/bblfsh/client.py#L87 is still using v1)

We still maintain the list separately:

[code]

[2019-10-18 12:15] kuba-- commented on #168
@m09 - the works has not been merged, yet (it's still on branch https://github.com/bblfsh/python-client/tree/v4), as far as I remember.
This branch uses only v2, so we are waiting for ML team to switch to v2, so we can merge it into the master.

[2019-10-18 12:20] m09 commented on #168
Thanks for clarifying :bowing_man:

[2019-10-23 13:08] kuba-- commented on #168
The PR is here: https://github.com/bblfsh/python-client/pull/196
It basically extends current API by two new methods (for v2, v1 has not been changed).

[2019-10-28 11:40] ncordon opened #197 "Decode is not the inverse of encode"
This should hold for the binary format, but a minimal example shows that the bytes are not preserved:

[code]

[2019-10-29 12:18] #168 closed

[2020-01-03 11:24] invertednz opened #199 "Client hangs with no error message, potential alternative to build-essentials for windows"
Currently the python client does not work for me it just hangs on attempting to parse a file.

I am only running the following:
client = bblfsh.BblfshClient("localhost:9432")
print("parsing")
ctx = client.parse("ast.py")

I realized it maybe because I haven't installed the required dependencies:

"Dependencies
You also will need a curl cli tool to dowload libuast, and a g++ for building libuast Py

[2020-01-03 13:48] invertednz commented on #199
I tried installing https://nuwen.net/mingw.html but still no error, the command just hangs with no output.

[2020-01-03 14:26] kuba-- commented on #199
Have you installed python driver on bblfsh server?
Is (bblfshd) running locally or inside a docker container?

[2020-01-04 00:22] invertednz commented on #199
Hey Kuba,

I have the bblfshd running in a docker container.

And these are my drivers.  If I try to update the python one it says this is already the latest.

PS C:\Users\james> docker exec -it bblfshd bblfshctl driver list
+------------+------------------------------------------+---------+--------+----------+----+--------+
|  LANGUAGE  |                  IMAGE                   | VERSION | STATU

[2020-01-05 23:27] kuba-- commented on #199
ok, could you give me your python file, so I'll try to reproduce it?

[2020-01-06 05:35] invertednz commented on #199
Sure, although it happens with every file that I've tried and I managed to get everything working with ubuntu, so I think it is the windows setup.

ast.py
[code]

I was wondering is it possible to query on a line number?  And is it possible to go from a node up to the parent node?  Or can you only iterate like -

[code]

[2020-01-06 10:18] kuba-- commented on #199
Ohh, ok - in my opinion it can't work well on windows (where bblfshd internally creates subcontainers with communicates over grpc on top of std. IO).

Regarding query -you can filter with xpath whatever you want, e.g. `next(ctx.filter("boolean(//*[@startOffset or @endOffset])"))`
Every position is a tuple (Type, Col, Line, Offset), so in theory it should be doable.

[2020-01-22 01:41] sharontlin opened #200 "Convert UAST into JSON"
There doesn't appear to be a way to convert the ResultContext object into a JSON format very easily. Can this functionality be added into the class definition? Thanks!

[2020-01-22 09:48] kuba-- commented on #200
I think this repo is in "maintenance state", but I'll defer the answer to @dennwc